header, section, footer, aside, nav, main, article, figure, h2 {
    display: block; 
    background-origin: padding-box;
    margin: 5px;
    padding: 10px;
}

html, * html {

}


body {
    font-family: Verdana;
    font-size: 14px;
}

h2 {
    padding-left: 25px;
    text-align: center;
}

section {
    padding: 15px;

}

article {
    padding: 5px 5px 15px 25px;
    background-color: rgba(255, 255, 255, 0.133);
    text-align: center;
    border-radius: 10px;
}

nav {
    text-align: center;
}

.navi {
    text-align: center;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.514);
}



h1, footer {
    text-align: center;
}

img {
    align-content: center;
    min-width:62px;
    min-height:62px;
    max-width:100px;
    max-height:100px;
}
